@import url(https://fonts.googleapis.com/css?family=Cinzel:400,700,900);
@import url(https://fonts.googleapis.com/css?family=Rubik+One);
/*this is a comment*/


/*Review the CSS syntax*/


/*selector 
property 
value */

p{
  font-size: 16px;  
  line-height: 1.5em;
}

figcaption{
  font-weight: normal;
  font-size:0.75em;
  line-height: 1.5em;
  font-family:'Rubik One', 'sans-serif', 'New Times Roman', Serif; 
  color: white;
}

/*class selector*/

.milk-text{ /*selelct elements with class = "=milk-text" */
font: bold 2.6em 'Rubik One' Serif;
color:blue;
text-shadow: 0 2px 3px #39122f;
}


/*ID selector apply once per page */

#logo { 
background:#CDC1C5 ;
}


/*descendent selector */
#logo h1{
font-family: 'Rubik One';
}

#logo h2{
font-family:Cinzel;
}

/*Pseudo class selector */

#details a:link,#details a:visited {
  color:black;
  text-decoration: none;
}

#details a:hover{
  color:black;
  text-decoration: underline;
}

#details a:active{
  color:green;
  text-decoration: underline;
}


#monocucode-concept{
  font-family: cursive;
}

#events{
  font-family: bold, Cinzel;
}


/*/////////LAYOUT///////////*/
*{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}




.wrapper{
  width:960px;
  margin: 0 auto;
  background: #eee;
}



.col-1{
float:left;
width: 32%;
background:#ccc ;

}



.col-2{
float:left;
width: 66%;
background:#ccc ;

}

.col-3{
background:#ccc ;
}

.clearfix:after {
  content:".";
  display: block;
  visibility: hidden;
  height:0;
  line-height: 0;
}

[class*="col-"] {
  margin-left:2%;
}

.first {
  margin-left:0;
}





/*////////////////SECTION////////////////*/




section{
  margin-bottom: 20px;
  padding: 20px;
}


/*////////////////SOCIAL///////////////*/
#social {
  position: fixed;
  top: 200px;
  right: 20px;
  width: 40px;
  z-index: 1;
}


#social a {
  display: block;
  width: 40px;
  height: 40px;
  background: white;
}


#worlds{
  height: 100px;
  width: 100px;
  }

.slick-slide img {
  width: 100%;
}



/*////////// BACKGROUNDS //////////*/

.galaxy {
  background: url(http://24.media.tumblr.com/tumblr_m3pru5bier1rqkghxo1_400.gif) no-repeat center top;
  background-size: cover;
}

.slider-nav{
  width: 100%;
    height: 500px;
    border: 3px solid #fff;
}


#planets {

}


.chew{
width:100% ;
height:50px;
}


















